body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, aqua, white, aqua);  ;
}
/* /////////////////////////////////////////// */
/* HEADER SECTION */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 0 25%; */
}

h1 {
    font-size: 48px;
}

.title-gif {
    height: 200px;
    width: 200px;
}

marquee {
    align-content: center;
}

/* //////////////////////////////////////////////////////////// */
/* MAIN SECTION */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table, th, td{
    border: 1px solid black;
}

th, td {
    padding: 1em;
}

.section-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.section-flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    justify-content: space-evenly;
}





/* ////////////////////////////////////////// */
/* footer */
footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


